@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="StartSurvey">
    <p style="color:brown;font-size:large">Új Felmérés</p>
    Hatósugár: <input id="InputRadius" type="text"> km
    <div id="SearchArea">
        <div id="SearchAddress">
            <p style="color:brown;font-size:large">Cím szerint:</p>
            <input id="InputAddress" type="text">
            <button id="AddressButton" type="button">Keresés</button>
        </div>
        <div id="SearchCoords">
            <p style="color:brown;font-size:large">Koordináta szerint:</p>
            X koordináta: <input id="InputLat" type="text"><br>
            Y koordináta: <input id="InputLon" type="text"><br>
            <!--<button id="SurveyButton" type="button">Felmérés</button>-->
        </div>
    </div>
</div>
<br><br>
<div style="color:#cc0099;font-weight: bold;">Szóba jöhető bázisok:</div>
<div id="AboveMap" style="padding-bottom:5px">
    <div id="Bases"></div>
    <div id="Actions">
        <p style="float:right">Bázisképek megtekintése</p>
        <button style="float:right" id="GetClosePicturesButton" type="button">Közeli</button>
        <button style="float:right" id="GetFarPicturesButton" type="button">Távoli</button>
        <br><br><br>
        <div style="float:right; width:70%">
            Irányszög: <input type="text" id="MapAngle">
        </div>
        <button style=" background-color:darkgreen; color:white; position: absolute; bottom: 0; right: 0;" id="SaveButton" type="button">Felmérés mentése</button>
    </div>
</div>
<div id="Map" style="height:400px; width:100%"></div>


@section Scripts
{
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5DkyQIBmE2VS4wFzZ0QSepje_6Mwkp1Q&sensor=false"></script>
    <script src="~/Scripts/Leaflet.GoogleMutant.js"></script>
    <script src="~/Scripts/MGScripts/DrawMapElements.js"></script>
    <script src="~/Scripts/MGScripts/UserActions.js"></script>
    <script src="~/Scripts/MGScripts/FilteredBasesTable.js"></script>
    <script src="~/Scripts/MGScripts/leaflet.geometryutil.js"></script>
    <script src="~/Scripts/MGScripts/Base.js"></script>
    <script src="~/Scripts/MGScripts/SurveyMarker.js"></script>
    <link href="@Url.Content("~/Content/Survey.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/viewer.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/viewer.js"></script>

   <script>

       var bases = new BaseController();
       var surveyMarker = new SurveyMarker();

       initTablevalues();

       function probe() {
           var id = 5;
           var rIndex = $('#FilterTable tbody tr[id =' + id + ']');
           if (rIndex.length > 0) {
               alert(rIndex[0].rowIndex);
           }
       }

       function getInput()
       {
           surveyMarker.setCoordsWGS(getLatForClient(), getLonForClient());
           surveyMarker.setRadius(getRadiusForClient());
           var lat = getLatForServer();
           var lon = getLonForServer();
           var r = getRadiusForServer();
           if (checkText(lat, 2) && checkText(lon, 2) && checkText(r, 1)) {
               jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 1 + '&xCoord=' + lat + '&yCoord=' + lon + '&radius=' + r, filteredBasesTableIsReady);
           }
       }

       function filteredBasesTableIsReady() {
           rows = document.getElementById("FilterTable").rows;
           dataRows = $('#FilterTable tbody tr');
           fillAngleInTable(getLatForClient(), getLonForClient(), dataRows, 7);
           bases.initBases(dataRows, map);
           surveyMarker.drawMarker(map);
           //setBasesByTableRows(dataRows, 7);
           //refreshTableSelection();
           //drawElementsOnMap();
       }

       var towerIconUrlUnselected = '@Url.Content("~/Content/Images/rTower4.png")';
       var towerIconUrlSelected = '@Url.Content("~/Content/Images/rTower3.png")';
       initDrawElements();

       jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 0);

    </script>
        
}


