@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="StartSurvey">
    <p style="color:brown;font-size:large">Új Felmérés</p>
    <table id="SurveyTable">
        <tr>
            <td>
                Magasság:
            </td>
            <td>
                <input id="InputHeight" type="text"> m
            </td>
        </tr>
        <tr>
            <td>
                Hatósugár:
            </td>
            <td>
                <input id="InputRadius" type="text"> km
            </td>
        </tr>
        <tr>
            <td>
                Helyszín címe:
            </td>
            <td>
                <input id="InputAddress" type="text">
            </td>
        </tr>
        <tr>
            <td>
                WGS Lat:
            </td>
            <td>
                <input id="InputLat" type="text">
            </td>
            <td>
                EOVX:
            </td>
            <td>
                <input id="InputEOVX" type="text">
            </td>
        </tr>
        <tr>
            <td>
                WGS Lon:
            </td>
            <td>
                <input id="InputLon" type="text">
            </td>
            <td>
                EOVY:
            </td>
            <td>
                <input id="InputEOVY" type="text">
            </td>
            <td>
                <button id="AddressButton" type="button">Felmérés indítása</button>
            </td>
        </tr>
    </table>
</div>
<br><br>
<div style="color:#cc0099;font-weight: bold;">Szóba jöhető bázisok:</div>
<table id="FilterTable">
    <thead>
        <tr>
            <th>
                Megnevezés
            </th>
            <th>
                Település
            </th>
            <th>
                Építmény típusa
            </th>
            <th>
                Átviteli technológia
            </th>
            <th>
                Kapacitás
            </th>
            <th>
                Talajszint feletti magasság (m)
            </th>
            <th>
                Távolság (km)
            </th>
            <th>
                Irányszög
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="AboveMap" style="padding-bottom:5px">
    <div id="Surveys"></div>
    <div id="Bases"></div>
    <div id="Photos"></div>
    <div id="Actions">
        <p style="float:right">Bázisképek megtekintése</p>
        <button style="float:right" id="GetNearPhotosButton" type="button" class="disabledButton">Közeli</button>
        <button style="float:right" id="GetFarPhotosButton" type="button" class="disabledButton">Távoli</button>
        <button style="float:right" id="GetBasePhotosButton" type="button" class="disabledButton">Bázis</button>
        <br><br><br>
        <button style=" background-color:darkgreen; color:white; position: absolute; bottom: 0; right: 0;" id="SaveButton" type="button">Felmérés mentése</button>
    </div>
</div>
<div id="Map" style="height:400px; width:100%"></div>
<div id="LineOfSight"></div>
<div class="modal fade" id="Modal" role="dialog">
    <div id="SurveyContainer">
    </div>
</div>


@section Scripts
{
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="~/Scripts/Leaflet.GoogleMutant.js"></script>
    <script src="~/Scripts/leaflet.geometryutil.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5DkyQIBmE2VS4wFzZ0QSepje_6Mwkp1Q&sensor=false"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/MGScripts/DrawMapElements.js"></script>
    <script src="~/Scripts/MGScripts/UserActions.js"></script>
    <script src="~/Scripts/MGScripts/FilteredBasesTable.js"></script>
    <script src="~/Scripts/MGScripts/Base.js"></script>
    <script src="~/Scripts/MGScripts/SurveyMarker.js"></script>
    <script src="~/Scripts/MGScripts/Survey.js"></script>
    <script src="~/Scripts/MGScripts/ConvertEOV2WGS.js"></script>
    <script src="~/Scripts/MGScripts/ElevationCalculator.js"></script>
    <link href="@Url.Content("~/Content/Survey.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/viewer.css")" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/viewer.js"></script>

   <script>

       //var tableBody = $('#FilterTable tbody')[0];
       var bases = new BaseController(map, $('#FilterTable tbody')[0], $('#GetBasePhotosButton'), $('#GetNearPhotosButton'), $('#GetFarPhotosButton'), $('#LineOfSight'));
       bases.setToDefault();
       var surveys = new SurveyController(map);
       var surveyMarker = new SurveyMarker();
       jQuery('#Surveys').load('@Url.Action("FilteredSurveys", "Survey")', filteredSurveyListIsReady);
       //alert(eovTOwgs84(200000, 500000));

       /*var counter = 0;
       var myVar = setInterval(myTimer, 1000);
       function myTimer() {
           if (counter < 10)
           {
               alert(counter);
               counter++;
           }
           else
           {
               alert("end");
               clearInterval(myVar);
           }
       }*/

       function filteredSurveyListIsReady()
       {
           var surveyList = $('#FilteredSurveys' + ' ul' + ' li');
           surveys.initSurveys(surveyList);
       }

       initTablevalues();

       function probe() {
           var id = 5;
           var rIndex = $('#FilterTable tbody tr[id =' + id + ']');
           if (rIndex.length > 0) {
               alert(rIndex[0].rowIndex);
           }
       }

       function getInput()
       {
           surveyMarker.setCoordsWGS(getLatForClient(), getLonForClient());
           surveyMarker.setRadius(getRadiusForClient());
           var lat = getLatForServer();
           var lon = getLonForServer();
           var r = getRadiusForServer();
           if (checkText(lat, 2) && checkText(lon, 2) && checkText(r, 1)) {
               jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 1 + '&xCoord=' + lat + '&yCoord=' + lon + '&radius=' + r, filteredBasesTableIsReady);
           }
       }

       function getPhotos(range)
       {

           var baseID = bases.getSelectedBaseID();
           if (baseID)
           {
               jQuery('#Photos').load('@Url.Action("GetBasePhotos", "Base")?baseID=' + baseID + '&range=' + range, openViewer);
           }

           function openViewer()
           {
               imageContainer = $('.Gallery');
               images = $('.Gallery' + ' ul' + ' li' + ' img');
               var angle = bases.getSelectedBaseAngle();
               index = getNearestPhotoIndex(images, angle);
               imageContainer.viewer(
               {
                    url: 'data-original',
                    shown: function () {
                        $(this).viewer('view', index);
                    },
                    hidden: function (e) {
                        $(this).viewer('destroy');
                    }
               }).viewer('show');
           }
       }

       function filteredBasesTableIsReady() {
           //rows = document.getElementById("FilterTable").rows;
           //dataRows = $('#FilterTable tbody tr');
           /*var basePhotosButton = $('#GetBasePhotosButton');
           var nearPhotosButton = $('#GetNearPhotosButton');
           var farPhotosButton = $('#GetFarPhotosButton');*/

           $("#FilterTable tbody tr").remove();
           var baseList = $('#BasesInRange' + ' ul' + ' li');

           //fillAngleInTable(getLatForClient(), getLonForClient(), dataRows, 7);
           bases.initBases(getLatForClient(), getLonForClient(), getAltitude(), baseList);
           surveyMarker.drawMarker(map);
       }

       var towerIconUrlUnselected = '@Url.Content("~/Content/Images/rTower4.png")';
       var towerIconUrlSelected = '@Url.Content("~/Content/Images/rTower3.png")';
       var customerIconUrlActive = '@Url.Content("~/Content/Images/customerACTIVE.png")';
       var customerIconUrlOk = '@Url.Content("~/Content/Images/customerOK.png")';
       var customerIconUrlFalse = '@Url.Content("~/Content/Images/customerFALSE.png")';
       initDrawElements();

       jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 0);

       $("#SaveButton").on('click', function (e) {
           var url = "/Survey/Save";
           var siteAddress = surveyAddress.val();
           var wgsLAT = getLatForServer();
           var wgsLON = getLonForServer();
           var baseID = bases.getSelectedBaseID();
           $.get(url + "?siteAddress=" + siteAddress + "&lat=" + wgsLAT + "&lon=" + wgsLON + "&baseID=" + baseID, function (data) {
               $('#SurveyContainer').html(data);
               $('#Modal').modal();
           });


       });

    </script>
        
}


