@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="MyContainer">
    <div id="Map"></div>
        <div id="StartSurvey">
            <p style=" background-color:brown; color:white; font-weight:bold; font-size:large; display:inline-block; padding-left:2px; padding-right:2px">Ügyfél mérési adatai a bázisok lekérdezéséhez:</p>
                    <table id="SurveyTable">
                        <tr>
                            <td>
                                <div class="DataText">Helyszín címe:</div>
                            </td>
                            <td colspan="3">
                                <input id="InputAddress" type="text" size="40">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="DataText">Épület Magassága:</div>
                            </td>
                            <td colspan="3">
                                <input id="InputHeight" type="text" size="4"><div class="DataText">m</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="DataText">Bázis max. távolsága:</div>
                            </td>
                            <td colspan="3">
                                <input id="InputRadius" type="text" size="4"><div class="DataText">km</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="DataText">WGS Lat:</div>
                            </td>
                            <td>
                                <input id="InputLat" type="text" size="8">
                            </td>
                            <td>
                                <div class="DataText">EOVX:</div>
                            </td>
                            <td>
                                <input id="InputEOVX" type="text" size="8" style="float:right">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="DataText">WGS Lon:</div>
                            </td>
                            <td>
                                <input id="InputLon" type="text" size="8">
                            </td>
                            <td>
                                <div class="DataText">EOVY:</div>
                            </td>
                            <td>
                                <input id="InputEOVY" type="text" size="8" style="float:right">
                            </td>
                        <tr>
                            <td colspan="4">
                                <button id="AddressButton" type="button">Felmérés indítása</button>
                            </td>
                        </tr>
                    </table>
    </div>
    <div id="TableSection">
        <div style="color:#cc0099;font-weight: bold">
            Szóba jöhető bázisok:
        </div>
            <table id="FilterTable">
                <thead>
                    <tr>
                        <th>
                            Megnevezés
                        </th>
                        <th>
                            Település
                        </th>
                        <th>
                            Építmény típusa
                        </th>
                        <th>
                            Átviteli technológia
                        </th>
                        <th>
                            Kapacitás
                        </th>
                        <th>
                            Talajszint feletti magasság (m)
                        </th>
                        <th>
                            Távolság (km)
                        </th>
                        <th>
                            Irányszög
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        <div id="BasePhotoButtonsSection">
            <div class="DataText">Képek:</div>
            <button style="float:right" id="GetFarPhotosButton" type="button" class="disabledButton">Távoli</button>
            <button style="float:right" id="GetNearPhotosButton" type="button" class="disabledButton">Közeli</button>
            <button style="float:right" id="GetBasePhotosButton" type="button" class="disabledButton">Bázis</button>
        </div>
    </div>
    <div id="ActionButtons">
        <button style=" background-color:blueviolet; color:white;" id="BaseButton" type="button">Bázis adatok</button>
        <button style=" background-color:brown; color:white;" id="LosButton" type="button">Átlátás</button>
        <button style=" background-color:crimson; color:white;" id="CustomerButton" type="button">Ügyfél adatok</button>
        <button style=" background-color:darkgreen; color:white;" id="SaveButton" type="button">Felmérés mentése</button>
    </div>
    <div id="LineOfSight"></div>
</div>

    <div id="Surveys"></div>
    <div id="Bases"></div>
    <div id="Photos"></div>

<div class="modal fade" id="Modal" role="dialog">
    <div id="SurveyContainer">
    </div>
</div>


@section Scripts
{
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="~/Scripts/Leaflet.GoogleMutant.js"></script>
    <script src="~/Scripts/leaflet.geometryutil.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5DkyQIBmE2VS4wFzZ0QSepje_6Mwkp1Q&sensor=false"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/MGScripts/DrawMapElements.js"></script>
    <script src="~/Scripts/MGScripts/UserActions.js"></script>
    <script src="~/Scripts/MGScripts/FilteredBasesTable.js"></script>
    <script src="~/Scripts/MGScripts/Base.js"></script>
    <script src="~/Scripts/MGScripts/SurveyMarker.js"></script>
    <script src="~/Scripts/MGScripts/Survey.js"></script>
    <script src="~/Scripts/MGScripts/ConvertEOV2WGS.js"></script>
    <script src="~/Scripts/MGScripts/ElevationCalculator.js"></script>
    <link href="@Url.Content("~/Content/Survey.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/viewer.css")" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/viewer.js"></script>

   <script>

       $(window).on("resize", function () { $("#Map").height($(window).height()); map.invalidateSize(); }).trigger("resize");

       init();

       //var tableBody = $('#FilterTable tbody')[0];
       //var bases = new BaseController(map, $('#FilterTable tbody')[0], $('#GetBasePhotosButton'), $('#GetNearPhotosButton'), $('#GetFarPhotosButton'), $('#LineOfSight'));
       //bases.setToDefault();
       //var surveys = new SurveyController(map);
       jQuery('#Surveys').load('@Url.Action("FilteredSurveys", "Survey")', filteredSurveyListIsReady);


       //alert(eovTOwgs84(200000, 500000));

       /*var counter = 0;
       var myVar = setInterval(myTimer, 1000);
       function myTimer() {
           if (counter < 10)
           {
               alert(counter);
               counter++;
           }
           else
           {
               alert("end");
               clearInterval(myVar);
           }
       }*/

       function init()
       {
           surveyMarker = new SurveyMarker(map, jQuery('#InputAddress'), jQuery('#AddressButton'), jQuery('#InputLat'), jQuery('#InputLon'), jQuery('#InputRadius'), jQuery('#InputHeight'));
           surveyMarker.addViews([$("#StartSurvey")]);
           bases = new BaseController(map, $('#FilterTable tbody')[0], $('#GetBasePhotosButton'), $('#GetNearPhotosButton'), $('#GetFarPhotosButton'), $('#LineOfSight'));
           bases.addViews([$("#TableSection"), $("#LineOfSight")]);
           bases.setToDefault();
           surveys = new SurveyController(map);
           jQuery('#Surveys').load('@Url.Action("FilteredSurveys", "Survey")', filteredSurveyListIsReady);
           jQuery('#BaseButton').on("click", function () { bases.changeViewVisibility(0); });
           jQuery('#LosButton').on("click", function () { bases.changeViewVisibility(1); });
           jQuery('#CustomerButton').on("click", function () { surveyMarker.changeViewVisibility(0); });
           //jQuery('#Surveys').on("click", function () { });
       }

       function queryBasesFromDatabase()
       {
           var lat = surveyMarker.getWgsLatForServer();
           var lon = surveyMarker.getWgsLonForServer();
           var r = surveyMarker.getRadiusForServer();
           jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 1 + '&xCoord=' + lat + '&yCoord=' + lon + '&radius=' + r, filteredBasesListIsReady);

           function filteredBasesListIsReady()
           {
               $("#FilterTable tbody tr").remove();
               var baseList = $('#BasesInRange' + ' ul' + ' li');
               bases.initBases(surveyMarker, baseList);
           }
       }

       function hideElement(element)
       {
           element.hide();
       }

       function showElement(element)
       {
           element.show();
       }

       function filteredSurveyListIsReady()
       {
           var surveyList = $('#FilteredSurveys' + ' ul' + ' li');
           surveys.initSurveys(surveyList);
       }

       initTablevalues();

       function probe() {
           var id = 5;
           var rIndex = $('#FilterTable tbody tr[id =' + id + ']');
           if (rIndex.length > 0) {
               alert(rIndex[0].rowIndex);
           }
       }

       function getInput()
       {
           surveyMarker.setCoordsWGS(getLatForClient(), getLonForClient());
           surveyMarker.setRadius(getRadiusForClient());
           var lat = getLatForServer();
           var lon = getLonForServer();
           var r = getRadiusForServer();
           if (checkText(lat, 2) && checkText(lon, 2) && checkText(r, 1)) {
               jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 1 + '&xCoord=' + lat + '&yCoord=' + lon + '&radius=' + r, filteredBasesTableIsReady);
           }
       }

       function getPhotos(range)
       {

           var baseID = bases.getSelectedBaseID();
           if (baseID)
           {
               jQuery('#Photos').load('@Url.Action("GetBasePhotos", "Base")?baseID=' + baseID + '&range=' + range, openViewer);
           }

           function openViewer()
           {
               surveyMarker.hideAllViews();
               bases.hideAllViews();
               $(".navbar-fixed-top").hide();
               $("#ActionButtons").hide();
               imageContainer = $('.Gallery');
               images = $('.Gallery' + ' ul' + ' li' + ' img');
               var angle = bases.getSelectedBaseAngle();
               index = getNearestPhotoIndex(images, angle);
               imageContainer.viewer(
               {
                    url: 'data-original',
                    shown: function () {
                        $(this).viewer('view', index);
                    },
                    hidden: function (e) {
                        $(this).viewer('destroy');
                        $(".navbar-fixed-top").show();
                        $("#ActionButtons").show();
                        bases.restoreVisibility();
                        surveyMarker.restoreVisibility();
                    }
               }).viewer('show');
           }
       }

       function filteredBasesTableIsReady() {
           //rows = document.getElementById("FilterTable").rows;
           //dataRows = $('#FilterTable tbody tr');
           /*var basePhotosButton = $('#GetBasePhotosButton');
           var nearPhotosButton = $('#GetNearPhotosButton');
           var farPhotosButton = $('#GetFarPhotosButton');*/

           $("#FilterTable tbody tr").remove();
           var baseList = $('#BasesInRange' + ' ul' + ' li');

           //fillAngleInTable(getLatForClient(), getLonForClient(), dataRows, 7);
           bases.initBases(getLatForClient(), getLonForClient(), getAltitude(), baseList);
           surveyMarker.drawMarker(map);
       }

       var towerIconUrlUnselectedLOS = '@Url.Content("~/Content/Images/rTowerPurple.png")';
       var towerIconUrlSelectedLOS = '@Url.Content("~/Content/Images/rTowerOrange.png")';
       var towerIconUrlUnselectedNLOS = '@Url.Content("~/Content/Images/rTowerGrey.png")';
       var towerIconUrlSelectedNLOS = '@Url.Content("~/Content/Images/rTowerRed.png")';
       var customerIconUrlActive = '@Url.Content("~/Content/Images/customerACTIVE.png")';
       var customerIconUrlOk = '@Url.Content("~/Content/Images/customerOK.png")';
       var customerIconUrlFalse = '@Url.Content("~/Content/Images/customerFALSE.png")';
       initDrawElements();

       jQuery('#Bases').load('@Url.Action("FilteredBases", "Base")?init=' + 0);

       $("#SaveButton").on('click', function (e) {
           var url = "/Survey/Save";
           var siteAddress = surveyMarker.getAddress();
           var wgsLAT = surveyMarker.getWgsLatForServer();
           var wgsLON = surveyMarker.getWgsLonForServer();
           var baseID = bases.getSelectedBaseID();
           $.get(url + "?siteAddress=" + siteAddress + "&lat=" + wgsLAT + "&lon=" + wgsLON + "&baseID=" + baseID, function (data) {
               surveyMarker.hideAllViews();
               bases.hideAllViews();
               $(".navbar-fixed-top").hide();
               $("#ActionButtons").hide();
               $('#SurveyContainer').html(data);
               $('#Modal').modal();
           });


       });

    </script>
        
}


