@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstLook.Models.Base

<div>
    <h4>Bázis törlése</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Megnevezés")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Település")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedSettlementName)
        </dd>

        <dt>
            @Html.DisplayName("Építmény típusa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedBuildingTypeName)
        </dd>

        <dt>
            @Html.DisplayName("Átvitel")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transmission)
        </dd>

        <dt>
            @Html.DisplayName("Kapacitás")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayName("Tengerszint feletti magasság")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayName("WGsLAT")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WgsLAT)
        </dd>

        <dt>
            @Html.DisplayName("WgsLON")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WgsLON)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a listához", "Index")
        </div>
    }
</div>


