@model List<FirstLook.Models.Base>

<table id="FilterTable">
    <tr>
        <th>
            Megnevezés
        </th>
        <th>
            Település
        </th>
        <th>
            Építmény típusa
        </th>
        <th>
            Átviteli technológia
        </th>
        <th>
            Kapacitás
        </th>
        <th>
            Tengerszint feletti magasság
        </th>
        <th>
            WgsLAT
        </th>
        <th>
            WgsLON
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="notSelected" onclick="myFunction(this)">
            <td>
                @item.Name
            </td>
            <td>
                @item.SelectedSettlementName
            </td>
            <td>
                @item.SelectedBuildingTypeName
            </td>
            <td>
                @item.Transmission
            </td>
            <td>
                @item.Capacity
            </td>
            <td>
                @item.Altitude
            </td>
            <td>
                @item.WgsLAT
            </td>
            <td>
                @item.WgsLON
            </td>
        </tr>
    }
</table>

<script>
    var selectedRowIndex;
function myFunction(x) {
    //alert("Row index is: " + x.rowIndex);
    if (selectedRowIndex)
    {
        if(x.rowIndex == selectedRowIndex)
        {
            selectedRowIndex = null;
            x.style.backgroundColor = "white";
            x.style.color = "black";
        }
        else
        {
            selectedRowIndex = x.rowIndex;
            x.style.backgroundColor = "blue";
            x.style.color = "white";
        }
        return;
    }
    selectedRowIndex = x.rowIndex;
    x.style.backgroundColor = "blue";
    x.style.color = "white";
    
}
</script>

