@model List<FirstLook.Models.Base>

<div id="BasesInRange" style="display:none">
    <ul>
        @foreach (var item in Model)
        {
            <li id="@item.ID" baseID="@item.BaseID" lat="@item.WgsLAT" lon="@item.WgsLON" numOfBPhotos="@item.NumberOfBasePhotos" numOfNPhotos="@item.NumberOfNearPhotos" numOfFPhotos="@item.NumberOfFarPhotos"
                name="@item.Name" settlement="@item.SelectedSettlementName" building="@item.SelectedBuildingTypeName" transmission="@item.Transmission" capacity="@item.Capacity"
                altitude="@item.Altitude" distance="@item.distanceFromSurveyPoint"></li>
        }
    </ul>
</div>

