@model List<FirstLook.Models.Base>

<table id="FilterTable">
    <thead>
        <tr>
            <th>
                Megnevezés
            </th>
            <th>
                Település
            </th>
            <th>
                Építmény típusa
            </th>
            <th>
                Átviteli technológia
            </th>
            <th>
                Kapacitás
            </th>
            <th>
                Talajszint feletti magasság (m)
            </th>
            <th>
                Távolság (km)
            </th>
            <th>
                Irányszög
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.ID" baseID="@item.BaseID" lat="@item.WgsLAT" lon="@item.WgsLON" class="unSelected" onclick="bases.baseTableEvent(this)">
                <td>
                    @item.Name
                </td>
                <td>
                    @item.SelectedSettlementName
                </td>
                <td>
                    @item.SelectedBuildingTypeName
                </td>
                <td>
                    @item.Transmission
                </td>
                <td>
                    @item.Capacity
                </td>
                <td>
                    @item.Altitude
                </td>
                <td>
                    @item.distanceFromSurveyPoint
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="docs-gallery">
    @foreach (var item in Model)
    {
        <ul id="@item.BaseID" class="base" style="display:none">

            @foreach (var basePic in item.BasePictures)
            {
                <li>
                    <img src="@Url.Action("GetOriginalPicture", "Base", new { baseID = basePic.BaseID ,name = basePic.Name, folder = "Base" })">
                </li>
            }

        </ul>
        <ul id="@item.BaseID" class="near" style="display:none" >

            @foreach (var nearPic in item.NearPictures)
            {
                //var base64 = Convert.ToBase64String(nearPic.ThumbNailContent);
                //var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                <li>
                    <img src="@Url.Action("GetOriginalPicture", "Base", new { baseID = nearPic.BaseID ,name = nearPic.Name, folder = "Near" })" angle ="@nearPic.Angle">
                </li>
            }

        </ul>
        <ul id="@item.BaseID" class="far" style="display:none" >

            @foreach (var farPic in item.FarPictures)
            {
                <li>
                    <img src="@Url.Action("GetOriginalPicture", "Base", new { baseID = farPic.BaseID ,name = farPic.Name, folder = "Far" })" angle ="@farPic.Angle">
                </li>
            }
        </ul>
    }
</div>

<script>
    /*function getBaseImages(baseID)
    {
        alert(baseID);
        var options = {
            url: 'data-original',
        };
        var images = $('#' + baseID + '.near');
        alert(images.length);
        images.viewer(options);
        $().viewer('view', 0);
    }*/

    /*$(function () {
    var options = {
        url: 'data-original'
    };
    var $images = $('#' + baseID + '.near');
    $images.viewer(options);
    });*/
</script>

